# ------------------------------------------------------------------------------
# OS & Editor Files
# ------------------------------------------------------------------------------
.DS_Store
*.idea/

# ------------------------------------------------------------------------------
# Python Cache & Build Artifacts
# ------------------------------------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
build/
dist/

# ------------------------------------------------------------------------------
# Jupyter Notebook Checkpoints
# ------------------------------------------------------------------------------
*.ipynb_checkpoints/

# ------------------------------------------------------------------------------
# QIIME 2 Artifacts
# ------------------------------------------------------------------------------
*.qza
*.qzv
*.biom
*.toml

# ------------------------------------------------------------------------------
# Project-specific Data and Scripts (excluded from versioning)
# ------------------------------------------------------------------------------
data/
example/
q2_gglasso/test.py
.vscode/
# ------------------------------------------------------------------------------