# ------------------------------------------------------------------------------
# OS & Editor Files
# ------------------------------------------------------------------------------
.DS_Store
*.idea/

# ------------------------------------------------------------------------------
# Python Cache & Build Artifacts
# ------------------------------------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.mypy_cache
.ruff_cache
.pytest_cache
build/
dist/

# ------------------------------------------------------------------------------
# Jupyter Notebook Checkpoints
# ------------------------------------------------------------------------------
*.ipynb_checkpoints/

# ------------------------------------------------------------------------------
# QIIME 2 Artifacts
# ------------------------------------------------------------------------------
*.qza
*.qzv
*.biom

# ------------------------------------------------------------------------------
# Project-specific Data and Scripts (excluded from versioning)
# ------------------------------------------------------------------------------
data/
example/
q2_gglasso/test.py
.dockerignore
.vscode/

# But keep these two files for the example
!data/atacama-counts.qza
!data/classification.qza
!data/selected-atacama-sample-metadata.tsv
!data/atacama-selected-covariates.tsv
!data/test_solution.zip
# ------------------------------------------------------------------------------