*.ipynb_checkpoints/
build/
dist/
*.egg-info/
*__pycache__/
data/

*.qza
*.biom
*.qzv
*.DS_Store

q2_gglasso/test.py
/example/88soil/soil_example.py
/example/atacama/atacama_example.py

!*.png

/example/atacama/kora.py
/data/kora/
/example/atacama/api_atacama.py
