numpy>=1.17.3
numba>=0.46.0
scipy>=0.11.0
scikit-learn>=0.24.1
qiime2~=2022.2.0
zarr~=2.11.1
gglasso~=0.1.9
pandas~=1.2.5
jupyterlab
jupyter
jupyter-book
plotly~=5.6.0
biom-format
h5py
scikit-bio~=0.5.6
q2templates~=2022.2.0
seaborn~=0.11.2
matplotlib~=3.5.1
setuptools~=59.8.0
pytest~=7.0.1